

body {
    margin: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 100%;
    font-size: 1.4vh;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    min-height: 100%;
    min-width: 100%;
    background: #fff5ee;
}

    
#standart_buttons_section {
    
    top: 0;
    left: 0;
    border-right: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


#add_files_section {
    top: 0;
    right: 0;
    border-left: 3px solid black;    
}

.side_section {
    background-color: #7c766e;
    min-height: 100%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

.btn{
    padding: 12px 23px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.6vh;
    width: 18vw;
    cursor: not-allowed;
}

.start_denostration_btn {
    cursor: pointer !important;
    background: #F5D7BF;
}

.start_denostration_btn:hover{
    background: #E39250;
}

.start_denostration_btn:active {
    background: radial-gradient(#E39250, #e59c61, #E39250);
}

.active_btn {
    background-color: #e59c61;
}

#video_section {
    margin-top: 5vh;
    text-align: center;
}

#video_player_area {
    width: 470px;
    height: 830px;
    margin: auto;
    border-radius: 5px;
}

#video_player {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

#canvas {
    width: 100%;
    height: 100%;
    background: none;
}

.non_display {
    display: none;
}

.light_on{
    border: 7px solid LimeGreen;
}

.light_off{
    border: 7px solid red;
}

#add_file_zone{
    height: 830px;
    width: 85%;
    border: 3px solid black;
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    background: #fff5ee;
}

#add_file_label_zone{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#add_file_label{
    margin-bottom: 50px;
    font-size: 14px;
    text-decoration-line: overline;
    cursor: pointer;
}

#add_file_zone:active {
    background: radial-gradient(#E39250, #e59c61, #E39250);
}

.img{
    width: 5.5vw;
    height: 5.5vw;
}
